# backend/.env.example

# serveur
PORT=5000
APP_URL=http://localhost:3000

# base de données
DB_HOST=localhost
DB_PORT=5432
DB_NAME=app_reservation
DB_USER=postgres
DB_PASSWORD=admin

# jwt
JWT_SECRET=unesecretbienlong